<h3 class="ui purple header">
	Formal Members
</h3>
<div class="ui divided selection list">
	<a class="item">
		<div class="ui purple horizontal label">&nbsp&nbspPresident&nbsp&nbsp</div>
		Yilin Dong
	</a>
	<a class="item">
		<div class="ui red horizontal label">Co-founder</div>
		Jiayu Chen
	</a>
	<a class="item">
		<div class="ui red horizontal label">Co-founder</div>
		Xue Zou
	</a>
	<a class="item">
		<div class="ui red horizontal label">Co-founder</div>
		Ye Bai
	</a>
	<a class="item">
		<div class="ui red horizontal label">Co-founder</div>
		Ai Xu
	</a>


</div>